<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.link.ratel">
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.link.ratel.App"
        android:theme="@style/Theme.Ratel">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">

        </activity>



        <activity android:name=".activity.NoticeDetailActivity" />
        <!--        <activity android:name=".activity.DateActivity1" />-->

        <activity
            android:name=".activity.FirstActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SimplePasswordActivity"
            android:exported="true">

        </activity>
        <activity android:name=".activity.TermsFirstActivity"/>
        <activity android:name=".activity.TermsSecondActivity"/>
        <activity android:name=".activity.TermsThirdActivity"/>
        <activity android:name=".activity.TermsFourthActivity"/>
        <activity android:name=".activity.TermsFifthActivity"/>
        <activity android:name=".activity.TermsSixthActivity"/>
        <activity android:name=".activity.SimplePassword2Activity"/>
        <activity android:name=".activity.AuthConfirmInfoActivity" />
        <activity android:name=".activity.AuthorityActivity" />
        <activity android:name=".activity.AuthorityAgreeActivity" />
        <activity android:name=".activity.AuthenticationInfoActivity" />
        <activity android:name=".activity.NoteProfileDetailActivity" />
        <activity android:name=".activity.ExtraActivity" />
        <activity android:name=".activity.NoteActivity" />
        <activity android:name=".activity.NoteProfileChangeActivity" />
        <activity android:name=".activity.NoticeActivity" />
        <activity android:name=".activity.ManageAuthenticationMethodsActivity" />
        <activity android:name=".activity.InquiryActivity" />
        <activity android:name=".activity.TermsActivity" />
        <activity android:name=".activity.InquiryTextActivity" />
        <activity android:name=".activity.InquiryContextActivity" />
        <activity android:name=".activity.AlarmSettingActivity" />
        <activity android:name=".activity.ExplainGroupActivity"/>
    </application>

</manifest>